<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Shipping Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Client" formControlName="client" >
          <mat-error *ngIf="addressForm.controls['client'].hasError('required')">
            Client is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Product" formControlName="producto"
            (selectionChange)="findProductPrice()">
              <mat-option *ngFor="let producto of productos"
              [value]="producto.nombre">
                {{ producto.nombre }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addressForm.controls['producto'].hasError('required')">
              Product is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Amount" formControlName="amount">
            <mat-error *ngIf="addressForm.controls['amount'].hasError('required')">
              Amount is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <input matInput disabled value={{price}}
            placeholder="Price">
          </mat-form-field>
        </div>

      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
      >Submit</button>
    </mat-card-actions>
  </mat-card>
</form>

<app-deploy-sales
[conceptos]="conceptos"
[clientName]="clientName"
[productName]="productName"
>

</app-deploy-sales>
